<%
let title = ''
let posts = []
let dataTree = []
// 如果有分类 过滤其他类型
if (page.archive) {
    title = '归档'
} else if (page.category) {
    title = '分类：' + page.category
} else if (page.tag) {
    title = '标签：' + page.tag
}
if (page.category) {
    posts = site.posts.filter(post => {
        let has = 0;
        post.categories.forEach(category => {
            if (page.category === category.name) {
                has = 1
            }
        })
        return has
    })
} else if (page.tag) {
    posts = site.posts.filter(post => {
        let has = 0;
        post.tags.forEach(tag => {
            if (page.tag === tag.name) {
                has = 1
            }
        })
        return has
    })
} else {
    posts = site.posts
}

posts.each(function (post) {
    let y = post.date.year();
    let hasYear = 0
    dataTree.forEach((item) => {
        if (item.year === y) {
            hasYear = 1
            item.posts.push(post)
        }
    })
    if (!hasYear) {
        dataTree.push({
            year: y,
            posts: [post]
        })
    }
})
dataTree.sort((a, b) => b.year - a.year)
%>
<div class="index-container">
    <p class="index-container-title"><%- title %></p>
    <% dataTree.forEach(item => { %>
        <div class="timeline">
            <div class="content">
                <article>
                    <h3><%= item.year %></h3>
                    <% item.posts.forEach(post => { %>
                        <section>
                            <span class="point-time point-red"></span>
                            <time>
                                <span><%= post.date.format('LL') %></span>
                                <span>
                                    <% post.categories.forEach(function(tag){ %>
                                        <%- tag.name %>
                                    <% }) %>
                                </span>
                            </time>
                            <aside>
                                <p class="things">
                                <span class="text-blue">
                                    <a href="<%- url_for(post.path) %>"><%= post.title %></a></span>
                                </p>
                                <p class="brief">
                                    <% post.tags.forEach(function(tag){ %>
                                        <%- tag.name %>
                                    <% }) %>
                                </p>
                            </aside>
                        </section>
                    <% }) %>
                </article>
            </div>
        </div>

    <% }) %>
</div>
