<div class="index">
    <% page.posts.sort("date", "desc").each(function(post, i){ %>
        <div class="post-item">
            <div>
                <% post.categories.forEach(function(tag){ %>
                    「<a class="post-category" href="/tags/<%- tag.name %>"><%- tag.name %></a>」
                <% }) %>
                <span class="post-date"><%- full_date(post.date, "LL") %></span>
            </div>
            <div class="post-title cursor-pointer"><a href="/<%- post.path %>"><%- post.title %></a></div>

            <div>
                <% post.tags.forEach(function(tag){ %>
                    <a class="post-tag" href="/tags/<%- tag.name %>"><%- tag.name %></a>
                <% }) %>
            </div>

            <div class="post-content">
                <div class="post-bg" style="background-image:
                        radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.65), #000000),
                        url(<%- post.cover || theme.cover %>);"></div>
                <%- post.excerpt %>
            </div>
        </div>
    <% }) %>

    <%- partial('_partial/pagination', null, {}) %>
</div>
