<div class="index">
    <% page.posts.sort("date", "asc").each(function(post, i){
        if (page.prev == 0 && i < 1) {
            return true;
        } %>
        <div class="post">
            <div class="post-title"><a href="/<%- post.path %>"><%- post.title %></a></div>

            <div>
                <div>
                    <%- full_date(post.date, "YYYY MM DD") %>
                </div>
            </div>

            <div class="blank">
                <% post.tags.forEach(function(tag){ %>
                    <a class="index_post_tag" href="/tags/<%- tag.name %>">
                        <%- tag.name %>
                    </a>
                <% }) %>
                <% post.categories.forEach(function(tag){ %>
                    <a class="index_post_tag" href="/tags/<%- tag.name %>">
                        <%- tag.name %>
                    </a>
                <% }) %>
            </div>
            <div class="index_post_excerpt">
                <%- post.excerpt %>
            </div>
            <a class="more" href="/<%- post.path %>">阅读更多</a>
        </div>
    <% }) %>

    <section class="paginator">
        <% if (page.total > 1) { %>
            <%- paginator({
                prev_text: '<',
                next_text: '>'
            }) %>
        <% } %>
    </section>
</div>
