<div class="post-page index-container">
    <div class="post-item">
        <div class="post-title cursor-text"><%- page.title %></div>

        <div class="post-desc">
            分类：
            <% page.categories.forEach(function(tag){ %>
                <a class="post-category" href="/tags/<%- tag.name %>"><%- tag.name %></a>
            <% }) %>
        </div>
        <div class="post-desc">
            标签：
            <% page.tags.forEach(function(tag){ %>
                <a class="post-tag" href="/tags/<%- tag.name %>"><%- tag.name %></a>
            <% }) %>
        </div>
        <div class="post-desc">
            日期：<span class="post-date"><%- full_date(page.date, "LL") %></span>
        </div>

        <div class="post-content">
            <% if(page.cover) { %>
                <img class="post-title-bg" src="<%- page.cover %>" alt="">
            <% } %>
            <div class="post-text">
                <%- page.content %>
            </div>
        </div>
    </div>

</div>
