<header id="header">
    <div class="navbar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link pl-0 active" href="<%- url_for(theme.menu['home']) %>">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%- url_for(theme.menu['archive']) %>">归档</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%- url_for(theme.menu['category']) %>">分类</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%- url_for(theme.menu['tag']) %>">标签</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%- url_for(theme.menu['about']) %>">关于</a>
            </li>
        </ul>
    </div>
</header>
